include common/_mixins
doctype html
html(lang="ru")
	include common/_head
	body.main-page
		include common/_sprites
		include common/_preloader
		include common/_popup
		include common/_add-album-modal
		include common/_add-photos-modal
		include common/_edit-photo-modal
		include common/_edit-user-modal
		include common/_edit-user-header
		include common/_slider
		.page
			header.header.header_main
				.header-holder
					.fix-width
						.user-info-holder
							.user-avatar
								+avatar
							.user-info
								h3.user-info__name Антон Черепов
								.user-info__desc Я веб разработчик. Мне 24 года. Люблю путешествия, кодинг, фриланс и активный отдых.
								+socialsBlock
						.header-buttons
							.header-buttons__item
								button.btn.btn_animated.js-edit-user-header
									//- .js-edit-user
									i(class="fa fa-pencil")
									span Редактировать
							.header-buttons__item
								a(href="index.html").btn.btn_animated.btn__logout
									i(class="fa fa-power-off")
									span Выйти
			.search-holder
				.fix-width
					+search-form

			.content
				.fix-width
					.new-photos-album
						h2.album-title Новое в мире
						.album-container
							+albumItem("Путешествие на лодке по озеру", "Прогулки по воде", "10", "10", "slide-1.jpg", "default_avatar.jpg", "Виталий Винорадов", "Мы отправились в #поездку")
							+albumItem("Путешествие", "Прогулки по воде", "9", "9", "bg/welcome-bg.jpg", "default_avatar.jpg", "Анна Богданова", "Мы отправились в #путешествие")
							+albumItem("Путешествие на лодке по озеру", "Прогулки по воде", "8", "8", "no_photo.jpg", "default_avatar.jpg", "Виталий Винорадов", "Мы отправились в #поездку")
							+albumItem("Путешествие", "Прогулки по воде", "7", "7", "no_photo.jpg", "default_avatar.jpg", "Анна Богданова", "Мы отправились в #путешествие")
							+albumItem("Путешествие на лодке по озеру", "Прогулки по воде", "6", "6", "no_photo.jpg", "default_avatar.jpg", "Виталий Винорадов", "Мы отправились в #поездку")
							+albumItem("Путешествие", "Прогулки по воде", "5", "5", "no_photo.jpg", "default_avatar.jpg", "Анна Богданова", "Мы отправились в #путешествие")
						.show-more
							button.btn.btn_transparent Показать еще
				.my-photos
					.fix-width
						.title-holder
							h2.album-title Мои альбомы
							.add-album-btn
								button(class="btn btn_animated js-add-album")
									i(class="fa fa-plus")
									span Добавить
						.album-container
							+albumSingle("Путешествие", "slide-1.jpg")
							+albumSingle("Путешествие", "bg/welcome-bg.jpg")
							+albumSingle("Путешествие", "no_photo.jpg")
							+albumSingle("Путешествие", "no_photo.jpg")
							+albumSingle("Путешествие", "no_photo.jpg")
							+albumSingle("Путешествие", "no_photo.jpg")

			include common/_footer
		include common/_footer-scripts