include common/_mixins
doctype html
html(lang="ru")
	include common/_head
	body.search-page
		include common/_sprites
		include common/_preloader
		include common/_popup
		include common/_add-album-modal
		include common/_add-photos-modal
		include common/_edit-photo-modal
		include common/_edit-user-modal
		include common/_edit-user-header
		include common/_slider
		.page
			header.main-page
				.header-holder
					.fix-width
						h1.seach-page-title Исследуй мир
						.header-buttons
							.header-buttons__item
								a(href="index.html").btn.btn_animated.btn__logut 
									i(class="fa fa-home")
									span На главную
			.search-holder
				.fix-width
					.search-column-holder
						.search-column
							.user-info-holder
								.user-avatar
									+avatar
								.user-info
									h2.user-info__name Антон Черепов
						.search-column
							form.search-form
								.search-form-holder
									button(type="submit" class="search-form__btn fa fa-search")
									input(type="text" class="search-form__input" placeholder="Исследовать мир")
						.search-column
							a.show-new(href="#") Показать новые
			.content
				.fix-width
					.new-photos-album
						h2.search-results-title По запросу «Природа» найдено 6 результатов
						.album-container
							+albumItem("Путешествие на лодке по озеру", "Прогулки по воде", "10", "10", "no_photo.jpg", "default_avatar.jpg", "Анна Богданова", "Мы отправились в #путешествие")
							+albumItem("Путешествие", "Прогулки по воде", "10", "10", "no_photo.jpg", "default_avatar.jpg", "Виталий Винорадов", "Мы отправились в #поездку")
							+albumItem("Путешествие на лодке по озеру", "Прогулки по воде", "10", "10", "no_photo.jpg", "default_avatar.jpg", "Анна Богданова", "Мы отправились в #путешествие")
							+albumItem("Путешествие", "Прогулки по воде", "10", "10", "no_photo.jpg", "default_avatar.jpg", "Виталий Винорадов", "Мы отправились в #поездку")
							+albumItem("Путешествие на лодке по озеру", "Прогулки по воде", "10", "10", "no_photo.jpg", "default_avatar.jpg", "Анна Богданова", "Мы отправились в #путешествие")
							+albumItem("Путешествие", "Прогулки по воде", "10", "10", "no_photo.jpg", "default_avatar.jpg", "Виталий Винорадов", "Мы отправились в #поездку")

			include common/_footer
		include common/_footer-scripts