include common/_mixins
doctype html
html(lang="ru")
	include common/_head
	body.search-page
		include common/_sprites
		include common/_infinite-preloader
		include common/_popup
		include common/_add-album-modal
		include common/_add-photos-modal
		include common/_edit-photo-modal
		include common/_edit-user-modal
		include common/_slider
		.page
			header.header.header_search
				.header-holder
					.fix-width
						h1.seach-page-title Исследуй мир
						.header-buttons
							.header-buttons__item
								a(href="index.html").btn.btn_animated.btn__logut 
									i(class="fa fa-home")
									span На главную
			.search-holder
				.fix-width
					.user-info-holder
						.user-avatar
							+avatar
						.user-info
							h3.user-info__name Антон Черепов
					+search-form
					a.show-new(href="#") Показать новые
			.content
				.fix-width
					.new-photos-album
						h3.search-results-title По запросу «Природа» найдено 6 результатов
						.album-container
							+albumItem("Путешествие на лодке по озеру", "Прогулки по воде", "10", "10", "no_photo.jpg", "default_avatar.jpg", "Анна Богданова", "Мы отправились в #путешествие")
							+albumItem("Путешествие", "Прогулки по воде", "10", "10", "no_photo.jpg", "default_avatar.jpg", "Виталий Винорадов", "Мы отправились в #поездку")
							+albumItem("Путешествие на лодке по озеру", "Прогулки по воде", "10", "10", "no_photo.jpg", "default_avatar.jpg", "Анна Богданова", "Мы отправились в #путешествие")
							+albumItem("Путешествие", "Прогулки по воде", "10", "10", "no_photo.jpg", "default_avatar.jpg", "Виталий Винорадов", "Мы отправились в #поездку")
							+albumItem("Путешествие на лодке по озеру", "Прогулки по воде", "10", "10", "no_photo.jpg", "default_avatar.jpg", "Анна Богданова", "Мы отправились в #путешествие")
							+albumItem("Путешествие", "Прогулки по воде", "10", "10", "no_photo.jpg", "default_avatar.jpg", "Виталий Винорадов", "Мы отправились в #поездку")

			include common/_footer
		include common/_footer-scripts