include common/_mixins
doctype html
html(lang="ru")
	include common/_head
	body.user-page
		include common/_sprites
		include common/_infinite-preloader
		include common/_popup
		include common/_slider
		.page
			header.header.header_user
				.header-holder
					.fix-width
						.user-info-holder
							.user-avatar
								+avatar
							.user-info
								h3.user-info__name Антон Черепов
								.user-info__desc Я веб разработчик. Мне 24 года. Люблю путешествия, кодинг, фриланс и активный отдых.
								+socialsBlock
						.header-buttons
							.header-buttons__item
								a.btn.btn_animated(href="main.html")
									i(class="fa fa-home")
									span На главную
			.search-holder
				.fix-width
					+search-form
			.content
				.my-photos
					.fix-width
						.title-holder
							h2.album-title Альбомы
						.album-container
							+albumSingle("Путешествие", "no_photo.jpg")
							+albumSingle("Путешествие", "no_photo.jpg")
							+albumSingle("Путешествие", "no_photo.jpg")
							+albumSingle("Путешествие", "no_photo.jpg")
							+albumSingle("Путешествие", "no_photo.jpg")
							+albumSingle("Путешествие", "no_photo.jpg")

			include common/_footer
		include common/_footer-scripts