# Numerous always-ignore extensions
*.bak
*.diff
*.err
*.exe
*.log
*.orig
*.rej
*.sass-cache
*.swo
*.swp
*.vi
*~

# OS or Editor folders
*.sublime-grunt.cache
*.sublime-project
*.sublime-workspace
._*
.cache
.DS_Store
.project
.settings
.tmproj
Thumbs.db

# Folders to ignore
.CVS
.git
.hg
.idea
.svn
bower_components
dist
build/frontend_dist
build/backend_node_dist/assets
build/backend_node_dist/templates
build/backend_php_dist/assets
build/backend_php_dist/templates
build/backend_php_dist/lrvl_mvc/public/templates/
build/backend_php_dist/lrvl_mvc/public/assets/
build/backend_php_dist/lrvl_mvc/storage/framework/sessions/

# Node.JS
node_modules
npm-debug.log

# Php private config
composer_modules
source/php/mail_config.php
