.album-page
	.album-container
		padding: 33px 0 0 0
	.gray-bg
		background: #dddcdc
		margin: 0 0 20px

	.my-album-title
		font: 21px/23px "Proximanova_semibold"
		margin: 0
		padding: 0 0 10px

	.my-album-desc 
		font: 16px/24px "Proximanova_light"
	
	.album-general-info
		margin: 0
		padding: 21px 0
		list-style: none
		text-align: center

		li
			display: inline-block
			margin: 0 3%

		span
			font-family: "Panton_bold"
			margin-left: 5px

.single-photo
	.album-photo
		padding: 0

	.album-category
		padding: 16px 20px 10px

	.photo-info
		position: absolute
		bottom: 19px
		left: 20px
		z-index: 2

	.photo-info__item
		color: $white

		.fa 
			color: $white
