.fix-width
	width: 91%
	margin: 0 auto

.page
	width: 100%
	display: table
	height: 100%
.content 
	display: table-row
	height: 100%
	width: 100%


/*buttons*/
.btn
	white-space: nowrap
	position: relative
	cursor: pointer
	border-radius: rem(42)
	height: rem(42)
	line-height: rem(42)

.btn_animated
	background: $white
	float: right
	padding: 0 22px
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.22)
	width: 42px
	overflow: hidden
	box-sizing: border-box
	text-decoration: none
	transition: width $transition-time, background $transition-time

	.fa 
		color: #a0a09f
		font-size: 22px
		position: absolute
		top: 50%
		left: 13px
		transform: translateY(-50%)
	span
		font: 14px/42px 'Panton_bold'
		color: $white
		vertical-align: middle
		display: inline-block
		padding-left: 20px
		overflow: hidden
		+media(xs)
			display: none

	&:hover
		background: #28bbf0
		width: 100%
		.fa
			color: $white

.btn_ok
	background-color: #28bbf0
	font-family: 'Proximanova_semibold'
	border: none
	color: #fff
	transition: background 0.3s
	padding: 0 1.2rem
	&:hover
		background-color: #24b0e3

.btn_red
	background-color: #ee4634
	font-family: 'Proximanova_semibold'
	border: none
	color: #fff
	transition: background 0.3s
	padding: 0 1.2rem
	&:hover
		background-color: #d94130
	.fa
		margin-right: rem(8)

.btn_transparent
	color: #20b6ed
	border: 1px solid #20b6ed
	background-color: transparent
	transition: all 0.3s
	line-height: 1em
	padding: 0 1.2rem
	line-height: rem(42)
	&:hover
		color: #fff
		border: 1px solid #20b6ed
		background-color: #20b6ed
.btn_link
	color: #28bbf0
	padding: 0 1.2rem
	&:hover
		color: #24b0e3
.link
	color: #28bbf0
	cursor: pointer
	&:hover
		color: #24b0e3


/*show more link*/			
.show-more
	text-align: center
	padding: 3px 0 0 

.show-more-btn
	cursor: pointer
	border: 1px solid $blue
	padding: 11px 18px
	color: $blue
	font: 14px/16px 'Panton_bold'
	display: inline-block
	margin: 0 auto
	border-radius: 17px
	&:hover
		background: $blue
		color: $white
/*search form*/
.search-holder
	background: #dbdcdc
	overflow: hidden
	width: 100%
	padding: 11px 0
	margin: 0 0 52px

.search-form-holder 
	position: relative
	background: $white
	border-radius: 20px
	padding: 10px 14px

.search-form
	float: right
	width: 32%
	+media(xs)
		float: none
		width: 100%
	&__btn
		color: rgba(#323232, .6)
		position: absolute
		top: 10px
		left: 20px
		padding: 0
	&__input
		width: 100%
		padding: 0 0 0 32px
		box-sizing: border-box
		border: 0
		background: none
		font: 16px/18px 'Proximanova_light'
		color: $light_black
		outline: none
		
/*my albums*/
.new-photos-album
	padding: 0 0 62px
	position: relative

.album-title
	font-family: 'Panton_bold'
	font-size: rem(42)
	margin: 0
	padding: 0 0 33px
	float: left
	+media(xs)
		font-size: rem(34)

.album-container
	margin: 0 -1%
	@extend %clearfix
	clear: both

.album-item
	width: 31.33%
	margin: 0 1% 20px
	float: left
	+media(m)
		width: 48%
	+media(s)
		width: 98%

.album-item-holder
	border-radius: 2px
	overflow: hidden
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15)

.album-photo 
	padding: 0 0 13px
	position: relative

	img
		vertical-align: top

	&:hover .album-mask
		opacity: 1


.album-photo__thumb
	height: 255px
	width: 100%
	background-size: cover
	background-position: center center

.album-mask
	position: absolute
	top: 0
	bottom: 0
	left: 0
	width: 100%
	height: 100%
	background: rgba(#000, .8)
	z-index: 1
	border-radius: 2px 2px 0 0
	cursor: pointer
	opacity: 0
	transition: opacity .5s;

.open-img-popup
	position: relative
	display: block

	img 
		height: 100%
		width: 100%
	.fa
		position: absolute
		top: 50%
		left: 50%
		font-size: 20px
		transform: translate(-50%, -50%)
		color: $white
		font-size: 38px


.album-desc
	padding: 0 20px 28px
	width: 100%
	overflow: hidden
	box-sizing: border-box

.album-desc__user
	float: left
	width: 50px
	max-width: 25%

.photo-user-img 
	width: 50px
	height: 50px
	overflow: hidden
	border-radius: 50px
	position: relative
	cursor: pointer

	&__mask
		opacity: 0
		transition: all .5s
		background: rgba(#000, .7)
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		border-radius: 50px
	.svg-more
		position: absolute
		top: 50%
		left: 50%
		width: 17px
		height: 4px
		fill: $white
		transform: translate(-50%, -50%)

	&:hover &__mask
		opacity: 1

.album-desc__info
	padding: 0 0 0 6%
	float: left
	width: 75%

.photo-desc-title
	font: 16px/18px 'Proximanova_light'
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	padding: 0 0 12px

.photo-info
	&__item
		display: inline-block
		vertical-align: top
		margin: 0 6px 0 0
		cursor: pointer
		padding: 0
		.fa 
			color: #d6d6d6
			font-size: 20px
		span 
			margin: 0 0 0 10px

.album-category
	text-align: right
	background: #f6f6f6
	padding: 6px 20px 10px
	overflow: hidden

.category-name
	font: 16px/18px "Proximanova_semibold"
	text-decoration: none
	color: $light_black

	.svg-category
		width: 20px
		height: 18px
		fill: #c5c5c5
		display: inline-block
		vertical-align: middle
		margin: 0 5px 0 0

.edit-post
	float: left
	opacity: .2
	cursor: pointer
	transition: all .5s
	&:hover
		opacity: 1
.fa 
	font-size: 20px
/*my album*/
.my-photos
	background: #f6f6f6
	padding: 51px 0 41px
	
	.title-holder
		@extend %clearfix


.add-album-btn
	float: right

	.album-item
		width: 23%

	.album-category
		background: $white
		padding: 15px 20px

	.category-name
		float: right

.my-album
	display: block
	color: $light_black
	text-decoration: none
	position: relative
	overflow: hidden

	
	&:hover .album-mask
		opacity: 1
	&:hover .mask-content
		bottom: 36px
		
.mask-content
	transition: bottom .5s
	bottom: -20px
	position: absolute
	padding: 0 20px
	&__desc
		font: 16px/24px "Proximanova_light"
		color: $white
		padding: 0 0 31px

	&__count
		color: $white
		font: 16px/18px "Proximanova_semibold"

		span
			font-family: "Panton_bold"


/* forms */
textarea
	display: block
input, textarea
	color: rgba($light_black, 0.8)

.input_rounded
	border: 1px solid #d8d6d6
	border-radius: 1.2rem
	padding: .6rem 1rem
	transition: border-color 0.3s

	&:link,
	&:visited,
	&:hover,
	&:active,
	&:focus
		outline: none

	&:focus
		border-color: $border_blue
