.search-page
	.search-holder
		padding: 6px 0

	.search-form
		float: none
		+media(s)
			width: 100%
			text-align: center

	.show-new
		float: right
		text-decoration: none;
		color: $maincolor
		font: 16px/18px "Proximanova_semibold"
		display: inline-block
		+media(s)
			width: 100%
			text-align: center
			margin: 15px auto