.welcome__wrapper
  position: relative
  width: 100%
  min-height: 100%
  background-image: url("../img/bg/welcome-bg.jpg")
  background-repeat: no-repeat
  background-size: cover
  text-align: center
  padding-bottom: rem(60)

.welcome__footer
  font-family: 'Proximanova_light'
  position: absolute
  bottom: 0
  left: auto
  right: auto
  padding: rem(20)
  width: 100%


.welcome__footer-text
  text-align: center
  margin: 0 auto
  color: #fff



.welcome__intro
  @include clearfix
  color: #fff
  padding-top: rem(112)
  padding-bottom: rem(32)

.welcome__h1
  font-family: 'Panton_bold'
  font-size: rem(42)
  margin-bottom: rem(10)

.welcome__text
  max-width: rem(560)
  margin: 0 auto
  line-height: 1.5em
  font-family: 'Proximanova_light'



.flip-container
.flip-card
.flip-card__front-side
.flip-back-side

.welcome__card

.form.form_welcome
  background-color: #fff
  border-radius: rem(20)
  font-family: 'Proximanova_light'
  max-width: 280px
  margin: 0 auto 10px
  overflow: hidden
  padding-bottom: rem(20px)

  &.form_recovery
    padding-top: 1rem

    .form__input-group
      border-top: 1px solid #e1e1e1

.form__input-group
  border-bottom: 1px solid #e1e1e1
  width: 100%
  text-align: left
  @include clearfix
  height: rem(41)

  &.form__input-group_last
    margin-bottom: .5rem

    .form_recovery &
     margin-bottom: rem(17)

.input-group__icon
  display: block
  float: left
  width: 15.5%
  height: 100%
  padding-left: 0.6rem

  .fa
    display: block
    width: 100%
    height: 100%
    text-align: center
    padding-top: rem(10)

  .fa:before
    display: block
    color: #cccccc
    transition: color .3s

.input-group__input
  display: block
  float: left
  width: 84.5%
  border: none
  outline: none
  color: #323232
  height: 100%
  padding-right: rem(16)

  &:focus
    color: #323232

.form__text
  margin: 0 rem(20) rem(17)
  text-align: left
  font-size: rem(14)

  &.form__text_button
    margin-bottom: rem(8)
    
  &.form__text_center
    text-align: center
    font-size: rem(14)

.form__link
  font-family: 'Proximanova_semibold'
  color: #28bbf0
  text-decoration: none

.form__span
  line-height: 1.1em

.form__error
  background: pink
  padding: rem(8) rem(10)
  text-align: left
  font-size: rem(14)
  font-family: 'Proximanova_semibold'

.form__button
  background: #28bbf0
  height: rem(42)
  font-family: 'Proximanova_semibold'
  border: none
  border-radius: rem(21)
  width: 100%
  color: #fff

