// =================================
// Welcome Layout styles
// =================================
.welcome
	&__wrapper
		position: relative
		width: 100%
		min-height: 100%
		display: table

	&__flip-wrapper,
	&__footer
		display: table-row

	&__flip-wrapper
		height: 100%

	&__footer
		font-family: 'Proximanova_light'
		bottom: 0
		left: auto
		right: auto
		width: 100%

	&__footer-text
		text-align: center
		padding: rem(20)
		margin: 0 auto
		color: $white






.flip-container
.flip-card
.flip-card__front-side
.flip-back-side
.welcome__card



// =================================
// Flip Card styles
// =================================
.flip-container
	@extend %tableAlign

.flip-card
	position: relative
	text-align: center
	width: 90%
	margin: 0 auto
	perspective: 1000px
	&__front-side,
	&__back-side,
	&__recovery
		overflow: hidden
		backface-visibility: hidden
		transform-origin: center center
		transition: all $transition-time_slow
		will-change: transform

	&__front-side
		position: relative
		z-index: 2
		transform: translate3d(0,0,0)

	&__back-side,
	&__recovery
		position: absolute
		z-index: 1
		top: 0
		width: 100%
		visibility: hidden
		opacity: 0
		transform: translate3d(0,0,-500px)


.card_flipped
	.flip-card
		&__front-side
			transform: translate3d(0,0,500px)
			opacity: 0
			visibility: hidden
		&__back-side
			transform: translate3d(0,0,0)
			opacity: 1
			visibility: visible

.show_recovery
	.flip-card
		&__front-side,
		&__back-side
			transform: translate3d(0,0,500px)
			opacity: 0
			visibility: hidden
		&__recovery
			transform: translate3d(0,0,0)
			opacity: 1
			visibility: visible


// =================================
// Login Form styles
// =================================

.welcome__intro
	@extend %clearfix
	color: $white
	padding-top: rem(112)
	padding-bottom: rem(32)

.welcome__h1
	font-family: 'Panton_bold'
	font-size: rem(42)
	margin-bottom: rem(10)

.welcome__text
	max-width: rem(560)
	margin: 0 auto
	line-height: 1.5em
	font-family: 'Proximanova_light'


.form.form_welcome
	background-color: $white
	border-radius: rem(20)
	font-family: 'Proximanova_light'
	max-width: 280px
	margin: 0 auto 10px
	overflow: hidden
	padding-bottom: rem(20px)

	&.form_recovery
		padding-top: 1rem

		.input-group_welcome
			border-top: 1px solid #e1e1e1

.input-group_welcome
	border-bottom: 1px solid #e1e1e1
	width: 100%
	text-align: left
	position: relative

	@extend %clearfix
	height: rem(41)

	&.input-group_last
		margin-bottom: .5rem

		.form_recovery &
		 margin-bottom: rem(17)

.group_welcome__icon
	display: block
	position: absolute
	left: 0
	top: 0
	width: 15.5%
	height: 100%
	padding-left: 0.6rem

	.fa
		display: block
		width: 100%
		height: 100%
		text-align: center
		padding-top: rem(10)

	.fa:before
		display: block
		color: #cccccc
		transition: color .3s

.group_welcome__input
	display: block
	float: left
	width: 100%
	border: none
	outline: none
	color: $black_light
	height: 100%
	padding-right: rem(16)
	padding-left: 2.7rem

	&:focus
		color: $black_light

.form_welcome__text
	margin: 0 rem(20) rem(17)
	text-align: left
	font-size: rem(14)

	&.form_welcome__text_button
		margin-bottom: rem(8)

	&.form_welcome__text_center
		text-align: center
		font-size: rem(14)

.form_welcome__link
	font-family: 'Proximanova_semibold'
	color: $maincolor
	text-decoration: none
	transition: color 0.3s
	&:hover
		color: #24b0e3

.form_welcome__span
	line-height: 1.1em

.error-notification
	background: pink
	padding: rem(8) rem(10)
	text-align: left
	font-size: rem(14)
	font-family: 'Proximanova_semibold'

.form_welcome__button
	width: 100%