#add-album-modal.hm-modal
	.hm-modal__container
		.hm-modal__content

			.hm-modal__header
				.hm-modal__title Добавить альбом
				button.hm-modal__close.js-close-modal
					span.fa.fa-close


			form.form(method="post")
				.hm-modal__text

					.input-group
						label.label_left Название
						input.input_rounded(id="", name="" type="text", placeholder="Название альбома")

					.input-group
						label.label_left Описание
						textarea.input_rounded(name="", cols="30", rows="10")

					.input-group.input-group_upload
						.image-preview-holder
							.image-preview
								img.image-preview__pic(src="/assets/img/no_photo.jpg", alt="")
						label.file-label.btn.btn_transparent Загрузить обложку
							input.form__input.form__input_file(type="file", name="")
						.form__notice (файл должен быть размером не&nbsp;более 1024&nbsp;КБ)

				.hm-modal__footer
					button.btn.btn_ok Сохранить
					button.btn.btn_link.js-close-modal Отменить
					button.btn.btn_red
						span.fa.fa-trash
						span Удалить


