#add-photos-modal.hm-modal
	.hm-modal__container
		.hm-modal__content.hm-modal_add-photo__content

			.hm-modal__header
				.hm-modal__title Добавить фотографии
				button.hm-modal__close.js-close-modal.js-clear-dropzone
					span.fa.fa-close


			form.form.form_add-photo(method="post")
				.hm-modal__text.hm-modal_add-photo__text

					.form_add-photo__row
						span.form_add-photo__subtitle Название
						span.form_add-photo__subtitle2 как я провел лето

					.form_add-photo__row
						.mydropzone#dropzone 
							.dropzone__inner-text
								span.dropzone__fa.fa.fa-camera
								span.dropzone__text Перетащите фото сюда или
								label.link выберите файл
									input.form__input.form__input_file(type="file", name="")
					.form_add-photo__row
						.error-notification Выбран неверный формат изображений. Попробуйте снова
						
					.form_add-photo__row#fail-area.is-hidden
						span.form_add-photo__subtitle Следующие файлы не будут загружены
						span.form_add-photo__subtitle2 (Размер более 2мб)
						.mydropzone.dropzone_fail#fail-dropzone

				.hm-modal__footer
					button.btn.btn_ok.js-send-dropzone Сохранить
					button.btn.btn_link.js-close-modal.js-clear-dropzone Отменить