//- hf = hform
#edit-user-header.hform.hide

	.header-holder.header-holder_edit-user
		.fix-width

			.user-info-holder

				.user-avatar
					.change-photo.change-photo_user

						.change-photo_user__img
							img.change-photo_user__pic(src="/assets/img/default_avatar.jpg", alt="")

						.change-photo__text
							label.link
								span.fa.fa-camera
								| Изменить фото
								input.form__input.form__input_file(type="file", name="")

				.user-info
					.input-group
						input.input_rounded(id="", name="" type="text")

					.input-group
						textarea.input_rounded.input_rounded_user-textarea(name="", cols="30", rows="5")

					+socialsBlock_edit

			.change-photo.change-photo_cover
				.change-photo__text
					label.link 
						span.fa.fa-camera 
						| Изменить фон
						input.form__input.form__input_file(type="file", name="")

	.hform__footer
		button.btn.btn_ok Сохранить
		button.btn.btn_link.js-close-header Отменить






