//- hf = hform
#edit-album-header.hform.hide


	.header-holder.header-holder_edit-album
		.fix-width

			.change-photo.change-photo_cover
				.change-photo__text
					label.link 
						span.fa.fa-camera 
						| Изменить фон
						input.form__input.form__input_file(type="file", name="")

			.user-info-holder.user-info-holder_edit-album
				.user-avatar
					.user-avatar__img
						img(src='assets/img/default_avatar.jpg')
				.user-info
					h2.user-info__name Антон Черепов

			.header-content.header-content_edit-album
				.form__group
					input.group__input.input_header-album(id="", name="" type="text")
				.form__group
					textarea.group__input.input_header-album(name="", cols="30", rows="5")


	.hform__footer
		button.btn.btn_ok Сохранить
		button.btn.btn_link.js-close-header Отменить
