//- hf = hform
#edit-user-header.hform.hide

	.header-holder
		.fix-width

			.user-cover
				.user-photo__change-text
					label.link 
						span.fa.fa-camera 
						| Изменить фон
						input.form__input.form__input_file(type="file", name="")

			.user-info-holder

				.user-avatar
					.user-photo__img

						.user-photo__pic-holder
							img.user-photo__pic(src="/assets/img/default_avatar.jpg", alt="")

						.user-photo__change-text
							label.link
								span.fa.fa-camera
								| Изменить фото
								input.form__input.form__input_file(type="file", name="")


				.user-info
					.form__group
						input.group__input(id="", name="" type="text")


					.form__group
						textarea.group__input.group__input_user-textarea(name="", cols="30", rows="5")

					ul.social-links
						li.social__item

							a.social__link.js-open-social-form(href='https://vk.com/', id='')
								svg.svg-social
									use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-soc_vk')

							.form__group
								input.group__input(id="", name="" type="text")
								button.btn.btn_transparent Сохранить
								button.btn.btn_link.js-close-form Отменить


						li.social__item
							a.social__link.js-open-social-form(href='https://www.facebook.com/', id='')
								svg.svg-social
									use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-soc_fb')

							.form__group
								input.group__input(id="", name="" type="text")
								button.btn.btn_transparent Сохранить
								button.btn.btn_link.js-close-form Отменить

						li.social__item
							a.social__link.js-open-social-form(href='https://twitter.com/?lang=en', id='')
								svg.svg-social
									use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-soc_twitter')
										
							.form__group
								input.group__input(id="", name="" type="text")
								button.btn.btn_transparent Сохранить
								button.btn.btn_link.js-close-form Отменить

						li.social__item
							a.social__link.js-open-social-form(href='https://plus.google.com/up/follow', id='')
								svg.svg-social
									use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-soc_google')
										
							.form__group
								input.group__input(id="", name="" type="text")
								button.btn.btn_transparent Сохранить
								button.btn.btn_link.js-close-form Отменить

						li.social__item
							a.social__link.js-open-social-form(href='mailto:mail@gmail.com', id='')
								svg.svg-social
									use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-soc_email')
										
							.form__group
								input.group__input(id="", name="" type="text")
								button.btn.btn_transparent Сохранить
								button.btn.btn_link.js-close-form Отменить


	.hform__footer
		button.btn.btn_ok Сохранить
		button.btn.btn_link.js-close-header Отменить






