#edit-photo-modal.hm-modal
	.hm-modal__container
		.hm-modal__content

			.hm-modal__header
				.hm-modal__title Редактировать фотографию
				button.hm-modal__close.js-close-modal
					span.fa.fa-close


			form.form(method="post")

				.hm-modal__text.editing-block
					.input-group
						label.label_left Название
						input.input_rounded(id="", name="" type="text")

					.input-group
						label.label_left Описание
						textarea.input_rounded(name="", cols="30", rows="10")

				.hm-modal__text.removing-block.is-hidden
					.removing__p Вы хотите удалить это фото?
					button.btn.btn_red Удалить
					button.btn.btn_link.js-hide-removing-block Отменить

				.hm-modal__footer
					button.btn.btn_ok Сохранить
					button.btn.btn_link.js-close-modal Отменить
					button.btn.btn_red.js-show-removing-block
						span.fa.fa-trash
						span Удалить


