footer
	.fix-width
		.footer-content
			.footer-column
				p Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться ими со всем миром!
			.footer-column(class="center")
				img(src="assets/img/footer-logo.png")
			.footer-column(class="right")
				span(class="year") 2016
				| Создано командой профессионалов на продвинутом курсепо веб-разработке от LoftSchool