head
	meta(charset='utf-8')
	title LS album
	meta(content='Loftschool team' name='author')
	meta(content='Public photostream and social network' name='description')
	meta(content='Photo, album, art, pictures' name='keywords')
	meta(content='width=device-width, initial-scale=1' name='viewport')
	meta(content='ie=edge' http-equiv='x-ua-compatible')
	//- favicon block start
	link(rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png")
	link(rel="icon" type="image/png" href="/assets/img/favicon/favicon-32x32.png" sizes="32x32")
	link(rel="icon" type="image/png" href="/assets/img/favicon/favicon-16x16.png" sizes="16x16")
	link(rel="manifest" href="/assets/img/favicon/manifest.json")
	link(rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5")
	link(rel="shortcut icon" href="/assets/img/favicon/favicon.ico")
	meta(name="msapplication-config" content="/assets/img/favicon/browserconfig.xml")
	meta(name="theme-color" content="#ffffff")
	//- favicon block end
	link(rel='stylesheet' href='/assets/css/vendor.css')
	link(rel='stylesheet' href='/assets/css/firstscreen.css')
	link(rel='stylesheet' href='/assets/css/app.css')