#add-album-popup.hm-popup
	.hm-popup__container
		.hm-popup__content
			button.hm-popup__close
				span.fa.fa-close
			div.hm-popup__text
				form.form.form_add-album
					input(type="text" placeholder = "Название альбома")
