footer
	background-image: url(../img/bg/footer-bg.jpg)
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	width: 100%
	overflow: hidden
	display: table-row
	vertical-align: bottom

#go-up
	cursor: pointer

.footer-content
	width: 100%
	overflow: hidden
	padding: 14px 0
	position: relative

.footer-column
	width: 40%
	text-align: left
	font: 16px/24px 'Proximanova_light'
	color: $white
	+media(s)
		float: none
		width: 100%
		text-align: center
		margin-top: 20px

	&.left
		float: left
		+media(s)
			margin-top: 60px

	&.center
		width: 20%
		float: left
		text-align: center
		+media(s)
			position: absolute
			top: 14px
			margin: 0
			width: 100%

		img
			padding: 8px 0 0 0
			display: block
			margin: 0 auto

	&.right
		float: right
		text-align: right
		opacity: 0.4
		+media(s)
			text-align: center

		.year
			border-right: 1px solid rgba($white, .4)
			display: inline-block
			padding: 0 5px 0 0
			margin: 0 5px 0 0
	p
		margin: 0

.search-page 
	footer
		background: #202020