footer
	background: url(../img/bg/footer-bg.jpg) 50% 0 no-repeat
	width: 100%
	overflow: hidden
	display: table-row
	vertical-align: bottom

.footer-content

.footer-column
	width: 40%
	float: left
	text-align: left
	font: 16px/24px 'Proximanova_light'
	color: $white
	
	&.center
		width: 20%
		text-align: center

	&.right
		text-align: right
		opacity: 0.4

		.year
			border-right: 1px solid rgba(#fff, .4)
	p
		margin: 0