/*HEADER*/
header
	display: table-row
	width: 100%
	&.main-page
		background-image: url(../img/bg/main-header.jpg)
		background-repeat: no-repeat
		background-size: cover
		background-position: center center

.header-holder
	padding: 53px 0 60px
	@extend %clearfix
	+media(s)
		padding: 20px 0 40px



//===============================================
//	USER HEADER
//===============================================
.user-info-holder
	position: relative
	width: 80%
	float: left
	+media(s)
		float: none

.user-avatar
	width: 25%
	float: left
	+media(s)
		float: none

	&__img
		border-radius: 50%
		border: 3px solid $white
		width: 120px
		height: 120px
		overflow: hidden
		margin: 0 auto
		+media(s)
			width: 100px
			height: 100px

.user-info
	color: $white
	float: left
	width: 75%
	padding-left: 20px
	+media(s)
		float: none
		margin-top: 15px

	&__name
		font-family: "Panton_bold"
		font-size: rem(21)
		line-height: 1
		margin: 0 0 10px

	&__desc
		color: rgba(255,255,255, .8)
		font-family: "Proximanova_light"
		line-height: 1
		padding: 0 0 26px

.user-avatar,
.user-info,
.user-info-holder
	+media(s)
		display: block
		text-align: center
		width: 100%
		padding: 0

/*SOCIAL*/
.social-links
	margin: 0
	padding: 0
	list-style: none

.social__item
	display: inline-block
	vertical-align: top
	margin-right: 6px
	&:last-child
		margin-right: 0
	+media(s)
		margin-top: 10px
		margin-right: 10px

.social__link
	text-decoration: none
	display: block
	opacity: .8

	&:hover .svg-social
		opacity: 1

.svg-social
	width: 20px
	height: 20px
	fill: $white
	opacity: .8
	+media(s)
		width: 30px
		height: 30px

/*HEADER BUTTONS*/
.header-buttons
	position: absolute
	right: 40px
	top: 20px
	+media(s)
		right: 10px
		left: 10px

	&__item
		float: right
		clear: both
		padding: 0 0 6px
		+media(s)
			&:nth-child(2)
				position: absolute
				left: 0



/*SEARCH PAGE*/
.search-page
	.header-holder
		padding: 20px 0

	header
		background: none
	
	.user-avatar
		width: 100px

	.user-avatar__img
		width: 50px
		height: 50px

	.user-info__name
		margin: 0
		font-size: 16px
		color: $light_black

/*ALBUM PAGE*/
.my-album-page

	.header-holder
		padding: 20px 0 66px

	.user-avatar
		width: 80px

	.user-avatar__img
		width: 56px
		height: 56px

	.user-info__name
		margin: 0
		font-size: 16px

	.header-content
		text-align: center
		color: $white
		width: 65%
		margin: 0 auto