// =================================
// Chris Coyier border-box reset
// =================================
html
	box-sizing: border-box

*, *:before, *:after
	box-sizing: inherit





// =================================
// Page init
// =================================
html,
body
	height: 100%
	min-width: 320px
	position: relative
	font-size: 100%
	font-family: "Pantonbold", sans-serif
	transition: all $transition-time
	color: $black_light


// Show scrollbar on every page
html
	overflow-x: hidden
	overflow-y: scroll
	transition: none

#sprites-container
	display: none

.has-overflow-hidden
	overflow: hidden

.is-hidden
	display: none


// =================================
// Elements
// =================================
img
	max-width: 100%

button
	border: none
	outline: none
	background: none
	cursor: pointer


// =================================
// Forms
// =================================
@include placeholder(rgba($black_light, 0.6))
