.slider
	position: fixed
	background-color: rgba($black, .5)
	width: 100%
	height: 100%
	min-width: 320px
	left: 0
	top: 0
	z-index: 10
	overflow-x: hidden
	overflow-y: scroll
	padding-top: 100px
	padding-bottom: 10%
	visibility: hidden
	opacity: 0

	&.show
		animation: slider-show $transition-time_medium
		animation-fill-mode: forwards
		+media(xs)
			animation: none
			visibility: visible
			opacity: 1
	&.hide
		animation: slider-hide $transition-time_medium
		overflow: hidden
		+media(xs)
			animation: none
			visibility: hidden
			opacity: 0

.slider__preloader
	display: block
	width: 50px
	height: 50px
	border: 4px solid transparent
	border-top-color: $maincolor
	border-radius: 50%
	position: absolute
	top: 50%
	left: 50%
	margin-left: -25px
	margin-top: -25px
	padding: 0
	margin: 0
	animation: preloader $transition-time_medium linear infinite

.slider__overlay
	width: 100%
	position: relative

// buttons
.slider__btn
	position: absolute
	cursor: pointer
	z-index: 1
	transition: background-color $transition-time_medium, box-shadow $transition-time_medium
	.fa
		color: $white
		font-size: rem(30)

.slider__btn_close
	bottom: 100%
	width: 100%
	text-align: right
	padding: 15px
	&:hover
		background-color: rgba($black, .7)
		box-shadow: 0 0px 20px 0 rgba($black, .7)

.slider__btn_left,
.slider__btn_right
	display: flex
	justify-content: center
	align-items: center
	top: 0
	width: 10%
	height: 100%
	&:hover
		background-color: rgba($black, .7)
		box-shadow: 0 0px 20px 0 rgba($black, .7)

.slider__btn_left
	right: 100%

.slider__btn_right
	left: 100%

// holder
.slider__holder
	margin: 0 auto
	background-color: $white
	width: 960px
	max-width: 80%
	border-radius: 3px
	position: relative

.slider__photo
	position: relative
	overflow: hidden
	background-color: $gray


.slider__img
	width: 100%
	height: auto
	position: relative
	z-index: 1

.slider__meta
	padding: 18px 22px
	position: relative
	z-index: 20
	@extend %clearfix

.slider__author-photo
	display: inline-block
	vertical-align: middle
	margin-right: 13px

.slider__author-name
	display: inline-block
	vertical-align: middle
	font-family: 'Panton_bold'
	font-size: 16px
	+media(xs)
		display: block
		clear: both
		margin-top: 10px



.slider__likes
	float: right
	vertical-align: middle
	margin-top: 4px
	+media(xs)
		position: absolute
		top: 18px
		right: 22px

.likes
	display: block
	background-color: $btn-red-color
	color: $white
	padding: 0 18px
	border-radius: 20px
	cursor: pointer



.likes__icon
	display: inline-block
	margin: 0 3px
	vertical-align: middle
	.fa

.likes__count
	display: inline-block
	margin: 0 3px

.slider__info
	padding: 0 20px 33px


.slider__title
	font-size: 20px
	margin-bottom: 6px

.slider__text
	line-height: 1.6
	font-size: 15.4px

.slider__comments
	background-color: $gray
	padding-bottom: 20px
	padding-top: 32px
	position: relative

.comments__title
	font-family: 'Proximanova_semibold'
	position: absolute
	top: 18px
	left: 20px

.comments__item
	@extend %clearfix
	border-top: 1px solid #e1e1e1
	padding: 18px 20px 14px

.comments__item_add
	border-top: none

.comments__item-photo
	float: left
	width: 16%
	@extend %clearfix
	+media(xs)
		float: none
		margin-bottom: 10px

	.photo-user-img
		float: right
		+media(xs)
			float: none

.comments__item-info
	float: right
	width: 81%
	+media(xs)
		float: none
		width: 100%

	.user__name
		display: inline-block
		vertical-align: middle
		font-family: 'Panton_bold'
		font-size: 16px
		margin-bottom: 10px

.comments__item-text
	font-family: 'Proximanova_light'
	line-height: 1.5

.comments__textarea
	font-family: 'Proximanova_light'
	width: 100%
	max-width: 100%
	margin-bottom: 10px
	background-color: $white
	&[contenteditable=true]:empty:not(:focus)::before
		content: attr(data-placeholder)


.comments__btn


.hashtag
	cursor: pointer
	color: $maincolor
	font-family: 'Proximanova_semibold'



// =================================
// Animations
// =================================
@keyframes slider-show
	0%
		visibility: visible
	100%
		visibility: visible
		opacity: 1

@keyframes slider-hide
	0%
		visibility: visible
		opacity: 1
	100%
		visibility: visible
		opacity: 0
